{% extends 'template/default.twig' %}
{% block title %}My cPanel{% endblock %}
{% block desc %}Create Database{% endblock %}
{% block content %}
    <form action="add.php" method="post">
        <label for="">Database Name (with Prefix)</label>
        <input type="text" class="form-control" name="database_name" placeholder="prefix_database" style="border-radius: 0px;"><br>
        <button type="submit" class="btn btn-primary btn-block btn-md" style="border-radius: 0px;">Add Database</button>
    </form>
{% endblock %}